
// including variables and mixins
@import "theme/variables";
@import "theme/mixins";
@import "theme/predefine";
@import "theme/reset";


// Custom Scss 
@import "theme/elements";
@import "theme/header";
@import "theme/banner";
@import "theme/home";
@import "theme/common";
@import "theme/product";
@import "theme/blog";
@import "theme/contact";
@import "theme/footer";

.placeholder
{
    visibility: hidden;
}
#product_list
{
    @include transition-duration(.5s, 0s);
}
.show_nice
{
    opacity: 1 !important;
    @include transition-duration(.5s, 0s);
}
.ag_product_remove_cross
{
    margin:auto;
    float: right;
    font-size: 20px;
    color: $white;
    &:hover{
        color: $primary-color;
        cursor: pointer;
        @include transition-duration(.5s, 0s);
    }
    @include transition-duration(.5s, 0s);
}
#ag_user_message
{
    @include transition-duration(.5s, 0s);
    &.show_nice
    {
        bottom: 5%;
        transform: scale(1);
    }
    transform: scale(0);
    opacity: 0;
    position: fixed;
    bottom: -20%;
    left: 5%;
    padding: 2%;
    background-color: $primary-color;
    box-shadow: 0px 0px 9px -3px $black;
    border-radius: 10px;
    z-index: 9999;
}
.ag-active-category
{
    color:$primary-color !important;
}
.ag_payment_method_container
{
    text-align: center;
    padding-top:1%;
    .ag_payment_method_header
    {
        h2
        {
            width: 100%;
            margin-bottom: 5%;
        }
    }
    .ag_payment_method
    {
        table{
            transform: scale(.6);
        }
        button{
            height: 35%;
            font-size: 110%;
        }
    }
}

.checkout-wrap {
    padding-top: 6em;
    color: $title-color;
    font-family: 'PT Sans Caption', sans-serif;
    margin: 40px auto;
    max-width: 1200px;
    position: relative;
}
ul.checkout-bar {
    margin: 0 20px;
    text-align: initial;
    li {
        color: $text-color;
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding: 14px 20px 14px 80px;
        position: relative;
        &:before {
            @include inner-shadow;
            background: #ddd;
            border: 2px solid #FFF;
            border-radius: 50%;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            left: 20px;
            line-height: 37px;
            height: 35px;
            position: absolute;
            text-align: center;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            top: 4px;
            width: 35px; 
            z-index: 2;
        }
        &.active {
            color: $primary-color;
            font-weight: bold;
            &:before {
                background: $primary-color; 
            }
        }
        &.visited {
            background: #ECECEC;
            color: $primary-color2;
            &:before {
                background: $primary-color2; 
            }
        }
        &:nth-child(1) {
            &:before {
                content: "1";
            }
        }
        &:nth-child(2) {
            &:before {
                content: "2";
            }
        }
        &:nth-child(3) {
            &:before {
                content: "3";
            }
        }
        &:nth-child(4) {
            &:before {
                content: "4";
            }
        }
        &:nth-child(5) {
            &:before {
                content: "5";
            }
        }
        &:nth-child(6) {
            &:before {
                content: "6";
            }
        }
    }
    a {
        color: $primary-color2;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;  
        padding: 0;
    }
}



@media all and (min-width: 800px) {
    .checkout-bar li.active:after {
        -webkit-animation: myanimation 3s 0;
        @include green-stripe;
        @include inner-shadow;
        content:"";
        height: 15px;
        width: 100%;
        left: 50%;
        position: absolute;
        top: -50px;
        z-index: 0;
    }
    .checkout-wrap {
        margin: 80px auto;
    }
    ul.checkout-bar {
        @include inner-shadow;
        @include gray-stripe;
        border-radius: 15px;
        height: 15px;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        width: 100%;
        &:before {
            @include blue-stripe;
            @include inner-shadow;
            border-radius: 15px;
            content: " ";
            height: 15px;
            left: 0;
            position: absolute;
            width: 15%;
        }
        &.final:after{
            @include blue-stripe;
            @include inner-shadow;
            border-radius: 15px;
            content: " ";
            height: 15px;
            left: 82%;
            position: absolute;
            width: 18%; 
        }
        li {
            display: inline-block;
            margin: 50px 0 0;
            padding: 0;
            text-align: center;
            width: 33%;
            &:before {
                height: 45px;
                left: 40%;
                line-height: 45px;
                position: absolute;
                top: -65px;
                width: 45px;
                z-index: 2;
            }
            &.visited {
                background: none;
                &:after {
                    @include blue-stripe;
                    @include inner-shadow;
                    content: "";
                    height: 15px;
                    left: 50%;
                    position: absolute;
                    top: -50px;
                    width: 100%;
                    z-index: 1;
                }
            }
            &.final:after{
                width: 0%;
            }
        }
    }
}




.cart_image
{
    width: 30%;
    &:hover{
        border-color: $primary-color !important;
        cursor: pointer;
        @include transition-duration(.5s, 0s);
    }
    @include transition-duration(.5s, 0s);
}
#clear_cart_button2
{
    display: none;
}
.ag_mobile_display
{
    display:none;
}
@media (max-width:575.98px)
{
    .cart_image
    {
        width:60px;
        height:60px;
    }
    .cart_inner .product_name
    {
        margin-left: 5px;
    }
    .checkout_btn_inner
    {
        display:none !important;
    }
    .ag_mobile_display,
    #update_cart_button,
    #clear_cart_button2
    {
        display: block;
    }
    #clear_cart_button
    {
        display: none;
    }
    .cart_area div.container
    {
        padding-left:0;
    }
    .cart_area .cart_inner .table
    {
        .out_button_area .genric-btn
        {
            font-size:18px;
            &:hover{
                transform: scale(.9);
            }
        }
        tr th:nth-child(2),
            tr th:nth-child(3),
            tr td:nth-child(2),
            tr td:nth-child(3){
            display:none;
        }
    }
}