
// including variables and mixins
@import "theme/variables";
@import "theme/mixins";
@import "theme/predefine";
@import "theme/reset";


// Custom Scss 
@import "theme/elements";
@import "theme/header";
@import "theme/banner";
@import "theme/home";
@import "theme/common";
@import "theme/product";
@import "theme/blog";
@import "theme/contact";
@import "theme/footer";

#product_list
{
    @include transition-duration(.5s, 0s);
}
.show_nice
{
    opacity: 1 !important;
    @include transition-duration(.5s, 0s);
}
.hidden
{
    display:none;
}
